In [ ]:
import numpy as np
import pandas as pd

In [ ]:
months=['jan','feb','march','april','may','june','july','august','sept','oct','nov','dec']

In [ ]:
values = np.random.randint(1000,5000,12)

In [ ]:
m_exp = pd.Series(values, index=months)

In [ ]:
print(m_exp)

In [ ]:
print("sum : ",m_exp.sum())
print("mean : ",m_exp.mean())
print("minimum : ",m_exp.min())
print("maximum : ",m_exp.max())

In [ ]:
print("Values at march",m_exp.loc['march'])

In [ ]:
print("\nvalues from jan to march\n",m_exp.loc['jan':'march'])

In [ ]:
res = m_exp[m_exp['values']>2000]
print(res)